<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Criação de Conta</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <header>
    <h1 class="logo">
      <img src="img/+vida_logo.PNG">
    </h1>
    <nav>
      <a href="index.html">Página Inicial</a>
      <a href="tabela_consultorias.html">Tabela de Consultorias</a>
      <a href="nova_consultoria.html">Nova Consultoria</a>
      <a href="cadastro_cliente.html">Criação de Conta</a>
    </nav>
  </header>

  <main>
    <h2>Criação de Conta de Cliente</h2>
    <form id="form-cliente" class="form-box">
      <label>Nome Completo:</label>
      <input type="text" name="nome">

      <label>E-mail:</label>
      <input type="email" name="email">

      <label>Telefone:</label>
      <input type="tel" name="telefone">

      <label>CPF:</label>
      <input type="text" name="cpf">

      <label>Data de Nascimento:</label>
      <input type="date" name="nascimento">

      <button type="submit">Criar Conta</button>
    </form>
  </main>

  <footer>
    <p>© 2025 Melhor Saúde - Todos os direitos reservados.</p>
  </footer>

  <script src="js/cadastro_cliente.js"></script>
</body>

</html>