<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melhor Saúde</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <h1 class="logo">
            <img src="img/+vida_logo.PNG">
        </h1>
        <nav>
            <a href="index.html">Página Inicial</a>
            <a href="tabela_consultorias.html">Tabela de Consultorias</a>
            <a href="nova_consultoria.html">Nova Consultoria</a>
            <a href="cadastro_cliente.html">Criação de Conta de Cliente</a>
        </nav>
    </header>

    <main>
        <section class="hero">
            <h2>MELHOR SAÚDE VEM DAQUI.</h2>
            <p>Sua saúde merece alcançar o topo. A +Vida te ajuda em seu propósito.</p>
        </section>

        <section class="cards">
            <div class="card">
                <img src="img/doutores.png" alt="Imagem 1">
                <h3>Grande Time Especializado.</h3>
            <p>Aqui voce encontra os melhores profissionais para ajudar a sua saúde e alavancar ela para onde você deseja!</p>
            </div>
            <div class="card">
                <img src="img/ajudando_paciente.PNG" alt="Imagem 2">
                <h3>Nos Preocupamos Com Nossos Clientes.</h3>
            <p>Vamos encarar as suas realidades e disfunções e iremos realizar o melhor plano de rotina para ir atras de elevar sua autoestima!</p>
            </div>
            <div class="card">
                <img src="img/consultoria_imagem.png" alt="Imagem 3">
                <h3>Quem Somos?</h3>
                <p>Somos um time de profissionais da educação que te ajudarão a alcançar o físico ou saúde ideal. Passando por obstáculos.</p>
            </div>
        </section>
    </main>

    <footer>
        <p>© 2025 Melhor Saúde - Todos os direitos reservados.</p>
    </footer>
    <script src = "js/index.js"></script>
</body>

</html>
